<h2>Enrollment Request</h2>

<form #enrollForm="ngForm" (ngSubmit)="onSubmit(enrollForm)">
  <div>
    <label>Name: </label>
    <input
      type="text"
      name="studentName"
      [(ngModel)]="enrollment.studentName"
      #nameCtrl="ngModel"
      required
      minlength="3"
    >
    @if (nameCtrl.touched && nameCtrl.errors?.['required']) {
      <span class="error">
        Name is required
      </span>
    }

    @if (nameCtrl.touched && nameCtrl.errors?.['minlength']) {
      <span class="error">
        Name must be at least 3 characters
      </span>
    }
  </div>
  <br>
  <div>
    <label>Email: </label>
    <input
      type="email"
      name="studentEmail"
      [(ngModel)]="enrollment.studentEmail"
      #emailCtrl="ngModel"
      required
      email
    >
    @if (emailCtrl.touched && emailCtrl.errors?.['required']) {
      <span class="error">
        Email is required
      </span>
    }
    @if (emailCtrl.touched && emailCtrl.errors?.['email']) {
      <span class="error">
        Enter a valid email
      </span>
    }
  </div>
  <br>
  <div>
    <label>Course ID: </label>
    <input
      type="number"
      name="courseId"
      [(ngModel)]="enrollment.courseId"
      #courseCtrl="ngModel"
      required>
    @if (courseCtrl.touched && courseCtrl.errors?.['required']) {
      <span class="error">
        Course ID is required
      </span>
    }
  </div>
  <br>
  <div>
    <label>Semester: </label>
    <select
      name="preferredSemester"
      [(ngModel)]="enrollment.preferredSemester"
      required>
      <option value="">Select Semester</option>
      <option value="Odd">Odd</option>
      <option value="Even">Even</option>
    </select>
  </div>
  <br>
  <div>
    <label>
      <input
        type="checkbox"
        name="agreeToTerms"
        [(ngModel)]="enrollment.agreeToTerms"
        #termsCtrl="ngModel"
        required>
      Agree to Terms
    </label>
    <button
      type="button"
      (click)="enrollForm.resetForm()">
      Reset
    </button>
    @if (termsCtrl.touched && termsCtrl.errors?.['required']) {
      <span class="error">
        You must agree to the terms
      </span>
    }
  </div>
  <br>
  <button
    type="submit"
    [disabled]="enrollForm.invalid">
    Submit
  </button>
</form>
@if (submitted) {
  <div class="success">
    Enrollment request submitted successfully!
  </div>
}
