<h1>Available Courses</h1>

<div class="search-container">
  <input
    type="text"
    [(ngModel)]="searchTerm"
    (input)="updateSearch()"
    placeholder="Search by course name or code..."
    class="search-bar"
  />
</div>

@if (isLoading()) {
  <p>Loading Courses</p>
} @else {
  <h3>Courses Available: {{filteredCourses.length}}</h3>
  @if (filteredCourses.length !== 0) {
    <div class="courses-grid">
      @for (c of filteredCourses; track c.id) {
        <div (click)="viewCourse(c.id)" class="card-wrapper" style="cursor: pointer;">
          <app-course-card
            [course]="c">
          </app-course-card>
        </div>
      }
    </div>
  } @else {
    <p>No courses match your search criteria</p>
  }
}

